.home {
}

.hero {
  min-height: 85vh;
  background-color: #777;
}
.skills {
  min-height: 10vh;
  /* background-color: #999; */
}
.projects {
  min-height: 70vh;
}
.contact {
  min-height: 30vh;
  /* background-color: #888; */
}
